extends ../layout

block content
  .store
    .row
      table.table.table-hover.table-bordered.table-responsive
        thread
          tr
            th 名称
            th 数量
            th 拥有者
            th 操作者
            th 创建时间
            th 更新时间
            //- th 查看
            th 更新
            th 添加
            th 删除
        tbody
          each item in stores
            //- if item.comment
            //-  tr.store(class="item-id-#{item._id}", data-toggle="tooltip", data-placement="right", title="#{item.comment}")
            //- else
            tr.store(class="item-id-#{item._id}")
              td(data-toggle="tooltip", data-placement="right", title="#{item.comment ? item.comment : '尚无备注'}") #{item.name}
              td #{item.remain}/#{item.total}
              td: button.btn.btn-default.retrieve(type="button", data-id="#{item.belongsTo.id}") #{item.belongsTo ? item.belongsTo.nickname : '已离开'}
              td: button.btn.btn-default.retrieve(type="button", data-id="#{item.manipulator.id}") #{item.manipulator ? item.manipulator.nickname : '已离开'}
              td #{moment(item.createdAt).format('MM/DD/YYYY')}
              td #{moment(item.updatedAt).format('MM/DD/YYYY')}
              //- td: button.btn.btn-default.retrieve(type="button", data-id="#{item.id}") 查看
              td: button.btn.btn-default.update(type="button", data-id="#{item.id}") 更新
              td: button.btn.btn-default.add(type="button", data-id="#{item.id}", data-name="#{item.name}") 添加
              if item.createdAt >= item.updatedAt
                td: button.btn.btn-danger.del(type="button", data-id="#{item.id}") 删除
              else
                td: button.btn.btn-danger.del(type="button", data-id="#{item.id}", disabled) 删除

    .modal.fade#retrieveModal(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            h1.modal-title 查看用户信息
          .modal-body
            table.table.table-hover.table-responsive
              thead
                tr
                  th 属性
                  th 值
              tbody
                tr
                  td 昵称
                  td 哈哈
                tr
                  td 用户名
                  td lqr
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") 确定

    .modal.fade#createModal(role="dialog")
      .modal-dialog
          .modal-content
            form.form-horizontal(method="post")
              .modal-header
                h1.modal-title 创建新材料
              .modal-body
                .form-group
                  label.col-sm-2.control-label(for="store[name]") 名&emsp;称
                  .col-sm-10
                    input.form-control(name="store[name]", type="text", placeholder="名称")
                .form-group
                  label.col-sm-2.control-label(for="store[total]") 总&emsp;数
                  .col-sm-10
                    input.form-control(name="store[total]", type="number", placeholder="数量")
                .form-group
                  label.col-sm-2.control-label(for="store[belongsTo]") 拥有者
                  .col-sm-10
                    select.form-control(name="store[belongsTo]")
                      each user in users
                        option(value="#{user._id}") #{user.nickname}
                .form-group
                  label.col-sm-2.control-label(for="store[manipulator]") 操作者
                  .col-sm-10
                    select.form-control(name="store[manipulator]")
                      each user in users
                        option(value="#{user._id}") #{user.nickname}
                .form-group
                  label.col-sm-2.control-label(for="store[comment]") 备注
                  .col-sm-10
                    textarea.form-control(name="store[comment]", rows="5", placeholder="备注信息")
              .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") 取消
                button.btn.btn-primary(type="submit") 创建

    .modal.fade#updateModal(role="dialog")
      .modal-dialog
          .modal-content
            form.form-horizontal
              .modal-header
                h1.modal-title 更新材料
              .modal-body
                .form-group
                  label.col-sm-2.control-label(for="store[name]") 名&emsp;称
                  .col-sm-10
                    input.form-control(name="store[name]", type="text", placeholder="名称")
                .form-group
                  label.col-sm-2.control-label(for="store[total]") 总&emsp;数
                  .col-sm-10
                    input.form-control(name="store[total]", type="number", placeholder="数量")
                .form-group
                  label.col-sm-2.control-label(for="store[belongsTo]") 拥有者
                  .col-sm-10
                    select.form-control(name="store[belongsTo]")
                      each user in users
                        option(value="#{user._id}") #{user.nickname}
                .form-group
                  label.col-sm-2.control-label(for="store[manipulator]") 操作者
                  .col-sm-10
                    select.form-control(name="store[manipulator]")
                      each user in users
                        option(value="#{user._id}") #{user.nickname}
                .form-group
                  label.col-sm-2.control-label(for="store[comment]") 备注
                  .col-sm-10
                    textarea.form-control(name="store[comment]", rows="5", placeholder="备注信息")
              .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") 取消
                button.btn.btn-primary.update-btn(type="button") 更新

    .modal.fade#addModal(role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            h1.modal-title 新增数
          .modal-body
            form.form-horizontal
              .form-group
                label.col-sm-2.control-label(for="store[addNumber]") 新增数量
                .col-sm-10
                  input.form-control(name="store[addNumber]", type="number", min="1", value="1")
              .form-group
                label.col-sm-2.control-label(for="store[comment]") 备注信息
                .col-sm-10
                  textarea.form-control(name="store[comment]", placeholder="备注信息", rows="5")
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") 取消
            button.btn.btn-default.add-btn(type="button") 增加

    script(src="/js/admin.js")
